.navbar{
  font-family: 'Poppins', sans-serif;
  height: 45px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(17, 0, 100);
}
.navbar-brand{
  width: 15%;
  /* background-color: red; */
  height: 100%;
  font-weight: 900;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon-cont{
  width: 5%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon{
  height: 70%;
}

.navlists{
  width: 80%;
  list-style: none;
  display: flex;
  justify-content: end;
}

.navlinks{
  padding: 2px 1rem;
}
.links{
  color: aliceblue;
  text-decoration: none;
}
.burgermenu{
  width: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.line{
  height: 4px;
  width: 75%;
  border-radius: 2px;
  background: #fff;
  margin: 2px 0px;
}
.media-css{
  display: none;
}



