.navbar{
  font-family: 'Poppins', sans-serif;
  height: 45px;
  max-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(17, 0, 100);
}
.navbar-brand{
  width: 10%;
  /* background-color: red; */
  height: 100%;
  font-weight: 900;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon-cont{
  width: 15%;
  /* background-color: red; */
  height: 100%;
  display: flex; 
  align-items: center;
  justify-content: space-evenly;
}
.icon{
  height: 45%;
}
.icon a{
   height: 100%;
}
.icon span{
  height: 100%;
  cursor: pointer;
  padding: 10px;
}
#cart , #search{
  height: 100%;
}
form input{
  background-color: rgba(255, 255, 255,0.4); 
  padding:6px 3px;
  margin: 0px 2px;
}
.search-form{
   display: none;
}
.search-form-cont{
  display: flex;
  align-items: center;
  justify-content: center;
}
form{
  display:flex;
}
.submit-btn{
   background-color: #fff;
   border : none;
   padding:6px 3px;
}
.navlists{
  width: 60%;
  list-style: none;
  display: flex;
  justify-content: end;
}

.navlinks{
  padding: 2px 1rem;
}
.links{
  color: aliceblue;
  text-decoration: none;
}
.burgermenu{
  width: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.line{
  height: 4px;
  width: 70%;
  border-radius: 2px;
  background: #fff;
  margin: 2px 0px;
}
.media-css{
  display: none;
}



/* navbar styles ends here */

